
.i-github-circled:before { content: '\e800'; } /* '' */
.i-mail:before { content: '\e802'; } /* '' */
.i-youtube-play:before { content: '\f16a'; } /* '' */
.i-instagram:before { content: '\f16d'; } /* '' */
.i-facebook-squared:before { content: '\f308'; } /* '' */
