@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16335803');
  src: url('../font/fontello.eot?16335803#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?16335803') format('woff2'),
       url('../font/fontello.woff?16335803') format('woff'),
       url('../font/fontello.ttf?16335803') format('truetype'),
       url('../font/fontello.svg?16335803#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16335803#fontello') format('svg');
  }
}
*/
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-github-circled:before { content: '\e800'; padding-top:50px ;font-size: 200px;text-align: center;transition: ease-in-out 1.2s;}
#github:hover .i-github-circled:before { content: '\e800';  ; color: black;transform: scale(1.1) rotate(-360deg) translateX(-30px) translateY(-30px);}



/* '' */
.i-mail:before { content: '\e802';padding-top:50px ;font-size: 200px;text-align: center; transition: ease-in-out 1.2s;} /* '' */
#mail:hover .i-mail:before { content: '\e802';transform: scale(0.9) translateX(-30px) translateY(-30px)} /* '' */



.i-youtube-play:before { content: '\f16a'; padding-top:50px ;font-size: 200px;text-align: center;transition: ease-in-out 1.2s;} /* '' */
#yt:hover .i-youtube-play:before { content: '\f16a'; transform: scale(1.05) translateX(-30px) translateY(-30px);;} /* '' */



.i-instagram:before { content: '\f16d';padding-top:50px ;font-size: 200px;text-align: center; transition: ease-in-out 1.2s; }
#ig:hover .i-instagram:before { content: '\f16d';transform: scale(1.15)  translateX(-30px) translateY(-30px); }



.i-facebook-squared:before { content: '\f308';padding-top:50px ;font-size: 200px;text-align: center; transition: all ease-in-out 1.2s;} /* '' */
#fb:hover .i-facebook-squared:before { content: '\f308';transform: scale(1.15);transform: translateX(-20px); } /* '' */
